/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 20%;
  }
  
  .modal-content {
    background: white;
    padding: 2px;
    border-radius: 12px;
    width: 500px;
    max-width: 90%;
    max-height: 30vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    color: #666;
    transition: color 0.3s ease;
  }
  
  .modal-close:hover {
    color: #000;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
  }
  
  pre {
    background-color: rgb(5, 4, 4);
    /* padding: 15px; */
    height: 100%;
    border-radius: 6px;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
    margin-top: -20px;
  }


  
  @media (max-width: 600px) {
    .modal-content {
      padding: 20px;
      width: 95%;
    }
    
    .modal-close {
      top: 10px;
      right: 10px;
      font-size: 20px;
    }
  }